.h1{
    background-color: rgb(0, 0, 0);
    width: 30%;
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.h5{
    font-size: 20px;
    
}

.rating{
    height: 70px;
    width: 300px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 550px;
}
.rating div{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 2px;
    font-size: 25px;
}
.rating input{
    display: none;
}
.rating input + label{
cursor: pointer;
size: 12px;
}

.rating input:checked+label~label{
    color: white;
}
.rating label:active{
    transform: scale(0.8);
    transition: 0.3s;
}

.review{
    height: 110px;
    width: 500px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 450px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.review div{
    text-align: center;
    font-size: 25px;
}
.input{
    color: black;
    margin-top: 25px;
    height: 20px;
    width: 450px;
    margin-top: 0px;
    border: solid;
    border-radius: 4px;
}

.sub{
    color: black;
    height: 20px;
    width:70px;
    margin-top: 15px;
    height: 30px;
}
.back{
    margin-left: 675px;
    width: 5%;
    word-spacing: 2px;
    background-color: rgb(0, 0, 0);
    height: 30px;
    color: white;
 }
